---
apiVersion: v1
kind: Service
metadata:
  name: {{include "app-chart.fullname" .}}
  labels:
    app: {{include "app-chart.fullname" .}}
spec:
  type: {{.Values.service.type}}
  ports:
    - port: {{.Values.service.port}}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{include "app-chart.fullname" .}}
